
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="col-md-12">
    <div class="contact-content clearfix">
        <h1 class="title">
            <span>Thông tin liên hệ</span>
        </h1>
        <div class="contact-block clearfix">
            <div class="row">
                <div class="col-md-3">
                    <a href="/">
                        <img class="img-responsive" src="https://bishub.vn/wp-content/uploads/2019/08/1-53-of-95-728x485.jpg">
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="contact-info">
                        <div class="docs"><b class="name ng-binding">TRUNG TÂM VĂN HÓA THÔNG TIN VÀ THỂ THAO HUYỆN LỤC NAM</b></div>
                        <div class="docs ng-binding">
                            <i class="fa fa-map-marker"></i>
                            <b>Địa chỉ:</b> QUẢNG TRƯỜNG 3/2, PHỐ BÌNH MINH, HUYỆN LỤC NAM, TỈNH BẮC GIANG.
                        </div>
                        <div class="docs ng-binding">
                            <i class="fa fa-phone"></i>
                            <b>Điện thoại:</b> 0964 950 856
                        </div>
                        <div class="docs ng-binding">
                            <i class="fa fa-mobile"></i>
                            <b>Hotline</b> 0352 005 509 
                        </div>
                        <div class="docs ng-binding">
                            <i class="fa fa-fax"></i>
                            <b>Fax:</b> 0386 363 532
                        </div>
                        <div class="docs">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:info@runtime.vn" class="ng-binding">trungtamvhttlucnam@gov.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

