
@{
    ViewBag.Title = "Báo cáo";
    Layout = "~/Views/Shared/_BaoCaoLayout.cshtml";
}
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="well chart-container">
            <div class="chart" id="c3-line-chart"></div>
        </div>
    </div>
</div>

<script>
    $(function () {
        let data = @Html.Raw(Json.Encode(Model));
        let arr = [
             ['x'],
            ['Thực đơn'],
            ['Thuê phòng']

        ];
        $('#datefrom').val('@DateTime.Now.AddDays(-29).ToString("dd/MM/yyyy")');
        $('#dateto').val('@DateTime.Now.ToString("dd/MM/yyyy")');
        
        for(let i=data.length - 1;i>=0;i--){
            arr[1].push(data[i].MenuPrice);
            arr[2].push(data[i].ServicePrice);
            arr[0].push(parseInt(new Date(data[i].DateCreated.match(/\d+/)[0] * 1).toLocaleDateString().split('/')[0]));

        }
        console.log(arr);
        var line_chart = c3.generate({
            bindto: '#c3-line-chart',
            point: {
                r: 4
            },
            size: {
                height: 400
            },
            color: {
                pattern: ['#4CAF50', '#F4511E', '#1E88E5']
            },
            data: {
                x: 'x',
                columns: arr,
                type: 'spline'
            },
            grid: {
                y: {
                    show: true
                }
            }
        });
        
        $(".sidebar-control").on('click', function () {
            line_chart.resize();
            chart_line_regions.resize();
            area_chart.resize();
            area_stacked_chart.resize();
            step_chart.resize();
        });
    });
   
</script>