@model List<CORE.Tables.TB_SUPPLIERS>
@{
    int startPage = (ViewBag.pageNumber - 1) * ViewBag.pageSize + 1;
    int? totalPage = (int?)ViewBag.maxNumber;
}

<style>
    .table > thead > tr > td:first-child {
        border-left: none;
    }

    .table > thead > tr > td {
        border-left: 1px solid #ddd;
    }

    .table > tbody > tr > td:first-child {
        border-left: none;
    }

    .table > tbody > tr > td {
        border-left: 1px solid #ddd;
    }
</style>

<div class="div-h100 @if (totalPage.HasValue && totalPage.Value > 1) { <text>div-bottom56</text> }">
    <div class="div-h100-body">
        <div class="well">
            <table class="table">
                <thead>
                    <tr class="text-center" style="font-weight:bold">
                        <td>STT</td>
                        <td>Mã Nhà cung cấp</td>
                        <td>Tên Nhà cung cấp</td>
                        <td>Trạng thái</td>
                        <td>Công cụ</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td class="text-center">@(startPage + i)</td>
                            <td>@Model[i].SupplierCode</td>
                            <td>@Model[i].SupplierName</td>
                            <td>@if (Model[i].SupplierState == "A") { <text>Kích hoạt</text> } else { <text>Không kích hoạt</text> }</td>
                            <td class="text-center">
                                <ul class="icons-list" style="display:flex">
                                    <li class="btnEdit" data-id="@Model[i].SupplierCode">
                                        <button type="button" class="btn btn-default btn-sm text-primary-600" data-toggle="modal"><i class="icon-pencil7"></i></button>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="">
    @{ Html.RenderAction("_Pagination", "Home", new { maxNumber = ViewBag.maxNumber, pageNumber = ViewBag.pageNumber });}
</div>

<script>
    let url_get = "/Products/_SupplierList";
    let getParamsForSearch = (pageNumber, isNext) => {
        return {
            "keyText": $(".txtSearch").val(),
            "pageNumber": pageNumber + isNext,
            "pageSize": $(".select2-selection--single").val(),
        };
    }
    function getDate(d) {
        var arr = d.split('/');
        if (arr.length != 3)
            return '';
        return arr[2] + arr[1] + arr[0];
    }
    var features = new Features(url_get, null, getParamsForSearch);

    $(".btnEdit").click(function () {
        var id = $(this).data("id");
        $.ajax({
            url: "/Products/_SupplierListDetail",
            type: "post",
            data: { "supplierCode": id },
        }).done(function (result) {
            $('#modal_default').html(result);
            $('#modal_default').modal('show');
            $('#modal_default').attr("data-action", "update");
            $('.select-search').select2();
        });
    });
</script>
