
@{
    ViewBag.Title = "Quản lý Sản phẩm";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Sản phẩm</span> - Danh sách sản phẩm
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="two-columns form-group">
            <div class="left-full">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="text" id="" class="form-control txtSearch" placeholder="Mã sản phẩm, tên sản phẩm">
                    </div>
                </div>
            </div>
            <div class="right-fixed">
                <button type="button" id="" class="btn btn-primary btnSearch">Tìm kiếm</button>
            </div>
        </div>
        <div class="div-h100 div-top56">
            <div class="two-columns form-group">
                <label><span>Hiển thị:</span> </label>
                <select class="select2-selection--single select2-selection__rendered d-inline" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" tabindex="-1" aria-hidden="true">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <button class="btn btn-primary float-right btnAdd" type="button" data-toggle="modal">
                    <i class="fa fa-plus"></i> Thêm mới
                </button>
            </div>
            <div class="div-h100 div-top56">
                <div class="data-table div-h100-body">
                    @{ Html.RenderAction("_DanhSach"); }
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_default" class="modal fade">
    @{ Html.RenderAction("_ChiTiet"); }
</div>

<script>
    $(".btnAdd").click(function () {
        //$('#PRODUCT_CODE').val('');
        //$('#PRODUCT_NAME').val('');
        //$('#PRODUCT_PRICE').val('');
        //$('#PRODUCT_STATE').val('');
        //$('#PRODUCT_SUPPLIERCODE').val('');
        //$('#PRODUCT_CATEGORYCODE').val('');
        //$('#modal_default').modal('show');
        //$('#modal_default').attr("data-action", "insert");
        //$('#PRODUCT_CODE').attr('readonly', false);
        $.ajax({
            url: "/Products/_ChiTiet",
            type: "post",
            data: { "productId": "" },
        }).done(function (result) {
            $('#modal_default').html(result);
            $('#modal_default').modal('show');
            $('#modal_default').attr("data-action", "insert");
            $('.select-search').select2();
            $('#PRODUCT_CODE').attr('readonly', false);
        });
    });

    function getParams() {
        //var params = {
        //    product_code: $('#PRODUCT_CODE').val(),
        //    product_name: $('#PRODUCT_NAME').val(),
        //    product_price: $('#PRODUCT_PRICE').val(),
        //    product_state: $('#PRODUCT_STATE option:selected').val(),
        //    product_supplierCode: $('#PRODUCT_SUPPLIERCODE option:selected').val(),
        //    product_categoryCode: $('#PRODUCT_CATEGORYCODE option:selected').val()
        //};
        //return params;
        var fileUpload = $("#PRODUCT_IMAGES").get(0);
        var files = fileUpload.files;
        var fileData = new FormData();

        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }
        fileData.append('product_code', $('#PRODUCT_CODE').val());
        fileData.append('product_name', $('#PRODUCT_NAME').val());
        fileData.append('product_price', $('#PRODUCT_PRICE').val());
        fileData.append('product_state', $('#PRODUCT_STATE option:selected').val());
        fileData.append('product_supplierCode', $('#PRODUCT_SUPPLIERCODE option:selected').val());
        fileData.append('product_categoryCode', $('#PRODUCT_CATEGORYCODE option:selected').val());

        return fileData;
    }

    function UploadFile() {
        var param = getParams();
        var url = "";
        if ($('#modal_default').attr("data-action") == 'update') {
            url = "/Ajax/UpdateProduct";
        } else {
            url = "/Ajax/InsertProduct";
        }
        $.ajax({
            url: url,
            type: "post",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: param,
        }).done(function (result) {
            if (result.Code == "0") {
                toastr.success(result.Result);
                location.href = "/Products/Index";
            } else {
                toastr.info(result.Result);
            }
        });
    }
</script>